* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #add8e6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    background-color: #fadadd;
    box-shadow: 5px 5px 10px 0 #85888c;
    position: sticky;
    width: 100%;
    z-index: 2;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
}

h1 {
    color: #36383f;
    display: inline-block;
    font-size: 1.5rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.info-bar {
    border-radius: 20px 0 0 20px;
    box-shadow: -5px 5px 10px 0 #85888c;
    width: 40%;
    height: calc(100vh - 44px);
    position: fixed;
    right: 0;
    background-color: #303545;
    overflow-x: hidden;
    max-width: 0;
    transition: max-width 0.6s ease 0s;
    overflow-wrap: anywhere;
    z-index: 3;
}

.service-title {
    color: #faf9f6;
    font-size: 1.3rem;
    padding: 0.7rem 0.4rem 0.7rem 1rem;
}

.service-email {
    color: #28d5fc;
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem 0.2rem 1rem;

}

.service-phone {
    color: #28d5fc;
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem 0.2rem 1rem;
}

.service-website {
    color: #28d5fc;
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem 0.2rem 1rem;
}

.service-wiki {
    color: #28d5fc;
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem 0.2rem 1rem;
}

.service-details {
    color: #faf9f6;
    font-size: 0.8rem;
    padding: 0.4rem 0.4rem 2rem 1rem;
    bottom: 20px;
    max-height: calc(100% - 8.5rem);
    overflow-y: scroll;
}

.service-email:hover,
.service-phone:hover,
.service-website:hover,
.service-wiki:hover {
    background-color: #85888c;
}

nav {
    background-color: #303545;
    border-radius: 0 20px 20px 0;
    box-shadow: 5px 5px 10px 0 #85888c;
    width: 10rem;
    height: calc(100vh - 44px);
    max-width: 0;
    overflow-x: hidden;
    position: fixed;
    left: 0;
    z-index: 3;
    transition: max-width 0.6s ease 0s;
}

.menu a {
    display: block;
    padding: 0.4rem 1rem 0.4rem 0.4rem;
    color: #faf9f6;
    font-size: 0.8rem;
}

.menu a:hover {
    background-color: #85888c;
}

.hamburger {
    cursor: pointer;
    float: left;
    padding: 1rem 0.5rem;
}

.line1,
.line2,
.line3 {
    width: 30px;
    height: 3px;
    background-color: #303545;
    display: block;
    position: relative;
}

.line2 {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}


.hamburger:hover {
    background: #85888c54;
}

.title-cross-container {
    display: grid;
    grid-template-columns: 1fr 45px;
}

.xline1,
.xline2 {
    margin-top: 1.3rem;
    width: 30px;
    height: 3px;
    background-color: #faf9f6;
    position: absolute;
    right: 0.5rem;
}

.xline1 {
    transform: rotate(45deg);
}

.xline2 {
    transform: rotate(-45deg);
}

.close-cross {
    cursor: pointer;
    float: right;
    padding: 1rem, 0.5rem;
}

.close-cross:hover {
    background-color: #85888c;
}

.side-menu {
    display: none;
}

.info-menu {
    display: none;
}

.side-menu:focus+.hamburger {
    background: #85888c54;
}

.side-menu:checked~nav {
    max-width: 100%;
}

.info-menu:checked~.info-bar {
    max-width: 100%;
    min-width: 15rem;
}

.gender-tags-container {
    display: grid;
    padding: 0.5rem;
    text-align: center;
}

.gender-tags {
    margin: auto;
}

.service-tags-container {
    display: grid;
    padding: 0.5rem;
    padding-top: 0;
}

.service-tags {
    margin: auto;
    text-align: center;
}

/* https://codepen.io/attilahajzer/pen/WbbLpe */

div label input {
    margin-right: 100%;
}

.btn {
    margin: 0.1rem;
    padding: 0.4rem;
    background-color: #303545;
    border-radius: 0.5rem;
    border: 0.1rem solid #faf9f6;
    overflow: hidden;
    display: inline-block;
}

.btn label {
    line-height: 1rem;
}

.btn label span {
    text-align: center;
    padding: 0.5rem 0.5rem;
    display: block;
}

.btn label input {
    position: absolute;
    display: none;
    color: #faf9f6;
}

.btn label input+span {
    color: #faf9f6;
}

.btn input:checked+span {
    color: #faf9f6;
    text-shadow: 0 0 0.4rem rgba(0, 0, 0, 1);
}

.peer-support input:checked+span {
    background-color: #f92e42;
}

.mental-health input:checked+span {
    background-color: #1BB8F7;
}

.sexual-health input:checked+span {
    background-color: #F3A4CF;
}

.hair-removal input:checked+span {
    background-color: #4f9627;
}

.gp-practices input:checked+span {
    background-color: #fcf80b;
}

.gender-both input:checked+span {
    background-color: #6b029f
}

.gender-femme input:checked+span {
    background-color: #F3A4CF;
}

.gender-masc input:checked+span {
    background-color: #1BB8F7;
}

.map-container {
    bottom: 0;
    height: 75vh;
    width: 100vw;
    z-index: 0;
    display: grid;
}