* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #add8e6;
    min-height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    background-color: #fadadd;
    box-shadow: 5px 5px 10px 0 #85888c;
    position: sticky;
    width: 100%;
    z-index: 2;
}

h1 {
    display: inline-block;
    color: #36383f;
    font-size: 1.5rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.map-container {
    height: 75vh;
    width: 100vw;
    /* background-color: #0a441d; */
    position: absolute;
    bottom: 0;
    z-index: 0;
}

nav {
    /* width: 25%; */
    box-shadow: 5px 5px 10px 0 #85888c;
    height: calc(100vh - 44px);
    position: fixed;
    background-color: #303545;
    overflow: hidden;
    max-width: 0;
    transition: max-width, 0.8s ease 0s;
    border-radius: 0 20px 20px 0;
}


.info-bar {
    border-radius: 20px 0 0 20px;
    box-shadow: -5px 5px 10px 0 #85888c;
    width: 40%;
    height: calc(100vh - 44px);
    position: fixed;
    right: 0;
    background-color: #303545;
    overflow: hidden;
    max-width: 0;
    transition: max-width 0.6s ease 0s;

}


.service-title {
    color: #faf9f6;
    font-size: 1.3rem;
    padding: 0.7rem 0.4rem 0.7rem 1rem;
}

.service-contact {
    color: #faf9f6;
    padding: 0.2rem 0.4rem 0.4rem 1rem;
}

.service-details {
    color: #faf9f6;
    font-size: 0.8rem;
    padding: 0.4rem 1rem 1rem 1rem;
    position: absolute;
    bottom: 20px;
    max-height: calc(100% - 8.5rem);
    overflow-y: scroll;
}

.menu a {
    display: block;
    padding: 0.4rem 1rem 0.4rem 0.4rem;
    color: #faf9f6;
    font-size: 0.8rem;
}

.menu a:hover {
    background-color: #85888c;
}

.hamburger {
    cursor: pointer;
    float: left;
    padding: 1rem 0.5rem;
}

.line1,
.line2,
.line3 {
    width: 30px;
    height: 3px;
    background-color: #303545;
    display: block;
    position: relative;
}

.line2 {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}


.hamburger:hover {
    background: #85888c54;
}

.side-menu {
    /* display: none; */
    opacity: 0;
}

.side-menu:focus +.hamburger{
    background: #85888c54;
}

.side-menu:checked~nav {
    max-width: 100%;
}

.info-menu:checked~.info-bar {
    max-width: 100%;
}

.service-tags{
    width: 600px;
    height: 30px;
    margin: 10px auto;
    /* display: inline-block; */
}
div label input {
    margin-right: 100px;
}

.btn{

  margin: 4px;
  padding: 4px;
  background-color: #303545;
  border-radius: 10px;
  border: 1px solid #faf9f6;
  overflow: hidden;
  float: left;
}

.btn label {
  /* float: left; */
  line-height: 3.0em;
  width: 8.0em;
  height: 3.0em;
}

.btn label span {
  text-align: center;
  padding: 3px 0;
  display: block;
}

.btn label input {
  position: absolute;
  display: none;
  color: #fff !important;
}
/* selects all of the text within the input element and changes the color of the text */
.btn label input + span{
    color: #faf9f6;
}


/* This will declare how a selected input will look giving generic properties */
.btn input:checked + span {
    color: #faf9f6;
    text-shadow: 0 0  6px rgba(0, 0, 0, 0.8);
    background-color: #1BB8F7;
    border-radius: 10px;
}


/* .service-tags {
    text-align: center;
    padding: 1rem;
}

.service-tags button {
    background-color: #fadadd;
    border-radius: 40%;
    text-decoration: none;
    font-size: 0.6rem;
    display: inline-block;
    padding: 0.6rem;
    color: #36383f;
    margin-right: 1rem;
} */

